:root {
    --black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid grey;
}

html {
    width: 100vw;
}

body {
    font-family: Inter, Arial;
    font-size: 20px;
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

section {
    height: 75rem;
    width: 100vw;
}

header, footer {
    height: 20vh;
    width: 100vw;

}

header {
    position: fixed;
    top: 0px;
    left: 0px;
}

nav {
    height: 100%;
    background: linear-gradient(
        var(--black) 80%,
        transparent 100%
    );
}

#logo-img {
    position: relative;
    top: 5rem;
    left: 10rem;
}

/* #welcome {
    margin-top: 20vh;
} */

.text {
    width: 30rem;
    height: 12rem;
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-area: 2/2/2/2;
    /* justify-self: end; */
    
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}


p {
    width: 30rem;
}

h1 {
    width: fit-content;
}

#welcome-image {
    width: 20rem;
    height: 20rem;
    grid-area: 2/3/2/3;
    /* justify-self: start; */
    z-index: -1;
}

.scroll h3 {
    text-align: center;
}

.project-container {
    grid-area: 2/2/2/4;
    display: grid;
    grid-template-columns: repeat(4, minmax(25rem, 1fr));
    grid-template-rows: 30rem;
}

.project {
    width: 20rem;
    height: 30rem;
    justify-self: center;
    align-self: center;
    /* margin:30px; */
}

#projects h1 {
    grid-area: 1/2/1/4;
}

.project:hover {
    width: 30rem;
    height: 40rem;
}